<div class="container mt-3">
  <div class="d-flex">
    <button class="btn btn-primary mr-3 mb-3" (click)="handleClick()">
      {{ display }} details
    </button>

    <p *ngIf="!notClicked">Hello, World!</p>
  </div>

  <div class="row" mt-3>
    <div class="col-xs-12">
      <div>
        <p
          *ngFor="let value of array; let i = index"
          [ngStyle]="{ backgroundColor: getColor(i) }"
          [ngClass]="{ 'text-white': setText(i) }"
        >
          {{ value }}
        </p>
      </div>
    </div>
  </div>
</div>
